.social-bar {
    @extend %margin-lr;
    width: 140px;
    display: flex;
    justify-content: space-between;

    &__item {
        font-size: 1.6rem;
        color: $white;
        opacity: .5;
    }
}
.attribution {
    font-size: 11px;
    @extend %text-align-center;

    &__link {
        color: hsl(228, 45%, 44%);
    }
}